<module xmlns="urn:jboss:module:1.0" name="com.fasterxml.jackson.core.jackson-databind" slot="2.9.8" >
  <resources>
    <resource-root path="jackson-databind-2.9.8.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="com.fasterxml.jackson.core.jackson-core" export="true" slot="2.9.8" />
    <module name="com.fasterxml.jackson.core.jackson-annotations" export="true" slot="2.9.0" />

  </dependencies>
</module>
